{% load static %}

<header>
    <div class="main">
        <div class="d-flex justify-content-between">
            <div class="logo">
                <img src="{% static '/small_logo.jpg' %}" alt="Logo">
            </div>
            <div>
                <ul>
                    <li><a href="/"> Home</a></li>
                    <li><a href="/about"> About Us</a></li>
                    <li><a href="/faq"> FAQs</a></li>

                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}"> Logout</a></li>
                        <li><a href="#"> {{ user.username }} </a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}"> Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>